<nav class="navbar navbar-basis navbar-fixed-top">
    <div class="container">
		<div class="navbar-header">
		<a class="navbar-brand" href="<%= root_url %>"><img src="" alt="Workspace">
        </a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
		</div>
	</div>
</nav>