<div class="field text-center">
  <figure class='avatarzone'>
    <%= f.file_field :avatar_file, accept: 'image/*', data: { photo: true } %>
    <%= f.hidden_field :avatar_file_cache %>
    <%= image_tag f.object.avatar_file.url, class: 'img-rounded' %>
  </figure>
</div>