<div class="container text-center">
<div class="top-buffer">
<h3>About Us</h3>
<img class="img-responsive top-buffer" src="http://placehold.it/1200x450" alt="Chania">
</div>

<div class="row text-center top-buffer">
<div class="col-md-6 col-md-offset-3">    
<h2>
You know the trusted friends you turn to when you need reccomendations for a skincare product? That’s us. We aren’t professional critics,
so you won’t hear any pretentious jargon from us. Just real experiences shared by real people. 
</h2>
</div>
</div>

<div class="container text-center top-buffer">
<%= image_tag("victory.png", :alt => "rss feed", :class => "victory") %>
</div>
</div>