<div class="container">
<img class="img-responsive" src="http://placehold.it/1080x450" alt="Chania">


<div class="row">
<div class="col-md-6 col-md-offset-3">    
<h2>
Product Hunt brings you the best new products daily through reviews by our community.
It's a place for fashion enthusiasts to geek out and share information on their limited release sneakers or their favorite bag
</h2>
</div>
</div>
</div>
