<div class="container text-center">
<div class="top-buffer">
<h3>Contact Us</h3>
</div>

<div class="row text-center top-buffer">
<div class="col-md-6 col-md-offset-3">    
<h2>
For editorial inquiries, general questions, or human contact, shoot us an email.
<br>
We’d love to hear from you.
</h2>
<h3>hello@slayur.com</h3>
</div>
</div>

<div class="container text-center top-buffer">
<%= image_tag("victory.png", :alt => "rss feed", :class => "victory") %>
</div>
</div>