@import "bootstrap-sprockets";
@import "bootstrap";
@import "selectize";
@import "selectize.default";
@import "navbar";
@import "buttons";
@import "photos";
@import "masonry/fluid";
@import "jquery.atwho";
@import "avatars";


// adjust homepage See All button margins

.movebutton {
    margin-top:15px;
}

// space things out

.containerMargin {
    margin-top: 30px;
    margin-bottom: 30px;
}

// fonts

h1, h2 {
font-family: "Source Sans Pro", "Helvetica Neue", "Roboto", "Arial", sans-serif;
}

h3, h4, h5, h6 {
font-family: "Helvetica Neue", "Roboto", "Arial", sans-serif;
}

body {
font-family: "Helvetica Neue", "Roboto", "Arial", sans-serif;
}

strong {
    font-weight: 700;
}


// gradient

.gradient {
 background-image: linear-gradient(45deg, #8CBFC6, #00C3BD);
}

.backgrey {
    background-color: #FAFAFA;
    margin-bottom: 30px;
}

// offset 100 for sign up page

.vertical-offset-100{
    padding-top:100px;
}

// account card

.account-card-begin
{
    margin-top: 50px;
}

.action-btn
{
    padding-left: 5%;
    padding-bottom: 15px;
}

.rmbr-me
{
    padding-left: 5%;
}

.field-space {
    width: 90%;
    margin: 0 auto;
}

.devise-error-space {
  padding-left: 5%;
  padding-top: 15px;
  color: #EE4054;
}

.account-card
{
    margin-top: 20px;
    padding-bottom: 10px;
    background-color: #FAFAFA;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

// prevent navbar blocking content

body {
  padding-top: 50px;
}

// padding for alerts

.alert-padding {
  padding-top: 50px;
}

// padding for reviews

.review-show-padding
{
    margin-top: 60px;
}

// make all disabled buttons invisible

:disabled {
    visibility:hidden;
}

// style review input

.review-title {
    border: none !important;
    border-color: transparent !important;
    width: 100%;
    resize: vertical;
    font-family: 'Source Sans Pro', sans-serif;
}

.review-input {
    border: none !important;
    border-color: transparent !important;
    width: 100%;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
}

.review-input:focus {
    outline: none;
}

.review-title:focus {
    outline: none;
}

// glyphicon customize

.glyphicon.glyphicon-heart {
    font-size: 30px;
    color: #00C3BD;
}

.glyphicon.glyphicon-heart-empty {
    font-size: 30px;
    color: #00C3BD;
}

.glyphicon.glyphicon-camera {
    font-size: 30px;
    color: #00C3BD;
}

.glyphicon.glyphicon-remove {
    font-size: 30px;
    color: #00C3BD;
}

.glyphicon.glyphicon-pencil {
    font-size: 20px;
    color: #00C3BD;
}

.glyphicon.glyphicon-bell {
    margin-top: 15px;
    font-size: 20px;
}

.glyphicon.glyphicon-remove {
    color: #CCC;
    font-size: 12px;
}

span.votes-count {
    font-size: 15px;
    position: relative;
    bottom: 7px;
    left: 8px;
}

// publish navigation

.publish-nav {
    width: 100%;
    height: 52px;
    background: #FAFAFA;
}

.publish-review {
    margin-top: 9px;
}

.review-step {
    margin-top: 16px;
}

// comments styling

.comments-bg {
    width: 100%;
    height: auto;
    background: #FAFAFA;
    margin-top: 50px;
}

.timeago {
    color: #CCC;
    display: inline;
}

.comment-user {
display: inline;
}

// change color of links

a {
    color: #808284;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #00C3BD;
    text-decoration: none;
}

// hero image on homepage

.home-display {

 background-image: linear-gradient(45deg, #8CBFC6, #00C3BD);

}

// hero image for show


.btn-padding {
    padding-top:30px;
    padding-bottom:30px;
}

// buffer for explore buttons

.top-buffer { margin-top:52px; }


.between-buffer { margin-top:20px; }


.unstyled
{
    list-style:none;
}


// victory sign on about pages

.victory {
    max-height: 80px;
    max-width: 80px;

}

// increase font size for reading

.readscape {
 font-size: 130%;
}

// profile

.page-banner {
 margin-top: 50px;
 margin-bottom: 50px;
}

.follow-button {
    margin-top: 20px;
}

// add photos to reviews

.add-photo-button {
    margin-top: 30px;
    padding-bottom: 30px;
}

.remove-photo-button {
    margin-top: 10px;
}

// add and remove review buttons

.delete-review-button {
    margin-top: 20px;
}

.edit-review-button {
    margin-top: 10px;
}

// change avatar button

.change-avatar-button {
    margin-top: 10px;
    padding-bottom: 30px;
}

// cards

.card-avatar {
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display:inline;
    vertical-align:middle;  
}

h6.written-by { 
    display:inline;
    vertical-align: center;
    padding-left: 10px; 
}

.card-review {
    margin-top: 12px;
    padding-bottom: 12px;
}

.caption-padding {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.thumbnail {
    padding:0;
}

// avatar on profile page

.profile-avatar {
    object-fit: cover;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

// featured stuff

.featured-reviews {
    margin-top: 20px;
    padding-bottom: 20px;
}

.featured-links {
    margin-top : 20px;
}

// big search box

.big-search {
    background-color : #FAFAFA;
    border: 0px none;

}

.big-search:focus {
    outline: none;
}

// activity feed

.activity-body {
    margin-top: 4px;
}


.put-inline {
    display:inline;
}