@import "bootstrap-sprockets";
@import "bootstrap";
@import "selectize";
@import "selectize.default";
@import "navbar";
@import "buttons";
@import "photos";
@import "masonry/fluid";


// start removing cards padding

.thumbnail {
    padding:0;
}

// adjust homepage See All button margins

.movebutton {
    margin-top:15px;
}

// space things out

.containerMargin {
    margin-top: 30px;
    margin-bottom: 30px;
}

// Start Fonts

h1, h2 {

font-family: "Source Sans Pro", "Helvetica Neue", "Roboto",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans",
    sans-serif;
}

h3, h4, h5, h6 {
font-family: "Helvetica Neue", "Roboto",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans",
    sans-serif;
}

h1.massive {
    font-size: 50px;
}

body {
font-family: "Helvetica Neue", "Roboto",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans",
    sans-serif;
}

strong {
    font-weight: 700;
}


// Gradient

.gradient {
 background-image: linear-gradient(45deg, #8CBFC6, #00C3BD);
}

.backgrey {
    background-color: #FAFAFA;
}

// offset 100 for sign up page

.vertical-offset-100{
    padding-top:100px;
}

// material sign up

.signup-padding
{
    margin-top: 50px;
}

.have-account-padding
{
    margin-top: 20px;
}

.materialform
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.materialformbutton
{
    padding-left: 15px;
    padding-top: 15px;
}

.account-wall
{
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    background-color: #FAFAFA;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

// prevent navbar blocking content

body {
  padding-top: 50px;
}

// padding for alerts

.alert-padding {
  padding-top: 50px;
}

// padding for reviews

.review-show-padding
{
    margin-top: 60px;
}

// fixes the review text and header


@media screen and (min-width: 767px){
.affix {
width: 500px;
}
}

@media screen and (max-width: 767px){
.affix {
position: static;
width: 100%;
top: 0;
padding-bottom: 50px;
}
}

// make all disabled buttons invisible

:disabled {
    visibility:hidden;
}

// style review input

.review-title {
    border: none !important;
    border-color: transparent !important;
    width: 100%;
    resize: vertical;
    font-family: 'Source Sans Pro', sans-serif;
}

.review-input {
    border: none !important;
    border-color: transparent !important;
    width: 100%;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
}

.review-input:focus {
    outline: none;
}

.review-title:focus {
    outline: none;
}

// glyphicon customize

.glyphicon.glyphicon-heart {
    font-size: 30px;
    color: #00C3BD;
}

.glyphicon.glyphicon-heart-empty {
    font-size: 30px;
    color: #00C3BD;
}

.glyphicon.glyphicon-camera {
    font-size: 30px;
    color: #00C3BD;
}

.glyphicon.glyphicon-remove {
    font-size: 30px;
    color: #00C3BD;
}

span.votes-count {
    font-size: 15px;
    position: relative;
    bottom: 7px;
    left: 8px;
}

// go to next step review

.nextnav {
    width: 100%;
    height: 52px;
    background: #FAFAFA;
}

.review-next {
    margin-top: 10px;
}

.review-write {
    margin-top: 18px;
}

// comments styling

.comments-bg {
    width: 100%;
    height: auto;
    background: #FAFAFA;
    margin-top: 50px;
}

.timeago {
    color : #CCC;
}

// change links color

a {
    color: #808284;
    text-decoration: none;
}

a:hover, a:focus {
    color: #00C3BD;
    text-decoration: underline;
}

//

.home-display {

background-image: linear-gradient(90deg, #F03141, #FE7A00);

}

// hero image for show


.btn-padding {
    padding-top:30px;
    padding-bottom:30px;
}

// buffer for explore buttons

.top-buffer { margin-top:52px; }


.between-buffer { margin-top:20px; }


.unstyled
{
    list-style:none;
}


// resize peace

.victory {
    max-height: 80px;
    max-width: 80px;

}


//increase font size for reading

.readscape {
 font-size: 130%;
}

// profile

.profileheader {
 margin-top: 50px;
 margin-bottom: 50px;
}

.follow-button {
    margin-top: 20px;
}

// add photos to reviews

.add-photo-button {
    margin-top: 30px;
    padding-bottom: 30px;
}

.remove-photo-button {
    margin-top: 10px;
}