.avatarzone {
  max-width: 100px;
  margin-top: 20px;
  position: relative;
  input {
    opacity: 0;
    z-index: -2;
    position: absolute;
  }
  img {
    max-width: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  label {
    position: absolute;
    bottom: -25px;
    right: -25px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: inline-block;
    padding-top: 11px;
  }
}
