nav.navbar-basis { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-basis a { color: #808284; }
nav.navbar-basis ul.navbar-nav a { color: #808284; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-basis ul.navbar-nav a:hover,
nav.navbar-basis ul.navbar-nav a:visited,
nav.navbar-basis ul.navbar-nav a:focus,
nav.navbar-basis ul.navbar-nav a:active { background: #fff; }
nav.navbar-basis ul.navbar-nav a:hover { border-color: #808284; }
nav.navbar-basis li.divider { background: #ccc; }
nav.navbar-basis button.navbar-toggle { background: #808284; border-radius: 2px; }
nav.navbar-basis button.navbar-toggle:hover { background: #999; }
nav.navbar-basis button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-basis ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-basis ul.dropdown-menu > li > a { color: #808284; }
nav.navbar-basis ul.dropdown-menu > li > a:hover { background: #808284; color: #fff; }
nav.navbar-basis span.badge { background: #808284; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-basis span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

// start navbar brand image

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 13px 8px;
  width: auto;
}