<% title @brand.label%>

<div class="jumbotron backgrey">
        <div class="container">
    <h1><%= @brand.label %></h1>
    <h5><%= @brand.introduction %></h5>
        <% @brand.categories.each do |category| %>
    <a href="" class="btn btn-main btn-sm" role="button"><%= category.item_type %></a>
    <% end %>
</div>
</div>
    



<%= render "/reviews/card", reviews: @brand.reviews %>

