<% title @brand.label%>

<div class="container-fluid backgrey">
  <div class="container profileheader">
    <div class="col-xs-12 col-md-6">
      <h1><%= @brand.label %></h1>
      <hr>
      <h6><strong>GOOD FOR</strong></h6>
        <% @brand.categories.each do |category| %>
      <%= link_to category.item_type, category, class: 'btn btn-sm btn-lakeside' %>
      <% end %>
    </div>
  </div>
</div>

<div class="cardgrid">
<%= render "/reviews/card", reviews: @brand.reviews %>
</div>
