<% title @category.item_type %>

<div class="container-fluid backgrey">
  <div class="container profileheader">
    <div class="col-xs-12 col-md-6">
      <h1><%= @category.item_type %></h1>
      <hr>
      <h6><strong>TOP BRANDS</strong></h6>
        <% @category.brands.each do |brand| %>
      <%= link_to brand.label, brand, class: 'btn btn-sm btn-lakeside' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container featured-reviews">
<h3>Check these out</h3>
</div>
<%= render "reviews/card", reviews: @category.featured_reviews %>
<div class="container featured-reviews">
<h3>All reviews</h3>  
</div>
<%= render "reviews/card", reviews: @category.reviews %>
</div>