<h1><%= @review.title %></h1>
<br>
<h6><strong><%= link_to ("WRITTEN BY " + @review.user.username.upcase), @review.user %></strong></h6>
<p class="timeago"><%="#{time_ago_in_words(@review.created_at)} ago"%></p>
<hr>
<br>
<p class="readscape"><%= @review.description %></p>