<div class= "jumbotron home-display">
  <div class= "container"> 
  <h1>A photography community for you</h1>
  <p>Our fresh chef-crafted meals and cooking kits 
  are easier than cooking or take-out, more affordable than you think, and you’ll even help feed someone in need when you order.
  </p>
  <button type="button" class="btn btn-lg btn-lake">Explore</button>
</div>
</div>

<div class="container containerMargin">
<form class="form-inline">
<h3 class="pull-left">What's New</h3>
<button type="button" class="btn btn-main movebutton pull-right">See All</button>
</form>
</div>
<%= render "card", reviews: @new_reviews %>


<div class="container containerMargin">
<form class="form-inline">
<h3 class="pull-left">Top Products</h3>
<button type="button" class="btn btn-main movebutton pull-right">See All</button>
</form>
</div>

<%= render "card", reviews: @top_reviews %>

<div class="container containerMargin">
<form class="form-inline">
<h3 class="pull-left">Community Favorites</h3>
<button type="button" class="btn btn-main movebutton pull-right">See All</button>
</form>
</div>

<%= render "card", reviews: @favorite_reviews %>


<div class="container">    

<footer class="text-center">
  <p>© Slayur</p>
    <ul class="list-inline">
      <li><a href="/pages/about"><h5>About Us</h5></a></li>
      <li><a href="/pages/contact"><h5>Contact Us</h5></a></li>
      <li><a href="/pages/privacy"><h5>Terms & Privacy</h5></a></li>
    </ul>
</footer>
</div>